.caja1{
	background-color: #204967;
	font-style: #EDE0E0;
	margin: auto;
	border:2px solid #FC8A04;
}
.caja2{
	border: 2px solid #979D9B;
	border-style: solid;
	border-radius: 10px;
	border-bottom-right-radius:20px; 
	padding: 5px;
}
#menu{
	border: 2px dotted #0ADE3C;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom-right-radius:70px;
}

